/* This is applied to the individual result
 * boxes.
 */
.result-border {
    border: 1px solid #ccc; 
    border-radius:4px; 
    padding:0.5em; 
    margin:0.5em;
}

/* Applied to the title of the entity in the result display */
.title-styling {
}

/* Applied to the date of the entity in the result display */
.title-date-styling {
}


/* If you need to override link colouring  */
a:link    { color: #24658A; }
a:visited { color: #24658A; }
a:focus   { color: #24658A; }
a:hover   { color: #24658A; }
a:active  { color: #24658A; }

.white-text a:link    { color: white; }
.white-text a:visited { color: white; }
.white-text a:focus   { color: white; }
.white-text a:hover   { color: white; }
.white-text a:active  { color: white; }

.header { padding: 10px 20px 15px; }
.header-logo a
{
    display: block;
    margin: 0 0 20px;
}

.header-details-large
{
    color: #201B6D;
    font-size: 20px;
}

.header-details-small { font-size: 14px; }
a.tel { text-decoration: none; }
a.tel:link { color: #201B6D; }
a.tel:visited { color: #201B6D; }
a.tel:focus { color: #000; }
a.tel:hover { color: #6D2C55; }
a.tel:active { color: #9F1C20; }


.question
{
    display: block;
    max-width: 300px;
    margin: 0 0 1em;
    padding: 15px 10px 15px 56px;
    color: #000 !important;
    border-radius: 5px;
    /* font-weight: bold; */
    text-decoration: none;
    background-color: #D0E9F0;
    background-image: url(//www.findandconnect.gov.au/assets/img/question.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.question:focus
{
    color: #fff !important;
    background-color: #000;
    background-position: -400px 50%;
}
.question:hover
{
    color: #fff !important;
    background-color: #775C1F;
    background-position: -800px 50%;
}

.question:active
{
    color: #fff !important;
    background-color: #9F1C20;
    background-position: -1200px 50%;
}

.notice
{
    margin: 5px 0px 0px 0px;
    padding: 12px 20px;
    background: #d0e9f0;
    border-radius: 5px;
    font-size: 15px;
}
