/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  font-color: white;
  color: white;
  background-image: url('http://www.msd.unimelb.edu.au/sites/default/files/images/backgrounds/page.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  word-wrap: break-word;
}

.facet.ng-hide-remove {
    animation: fadeIn 0.5s;
}

