<style>
    body { background-color: #efefea; }
</style>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="styles/isis_logo_v12-2.png" style="height: 300px;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3 text-center">
            <p>The IsisCB - Search Prototype yadda yadda yadda. Stephen: What do you want in here?</p>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3 text-center">
            <hr style="border-color: black;"/>
            <a href="#/app">Go to the search application</a>
            <hr style="border-color: black;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3 text-center">
            <div class="alert alert-info" role="alert">
                <p>This application requires the very latest in HTML5 and Javascript technology. In order to have the best 
                possible experience we recommend that you use a modern browser. Google Chrome and Mozilla Firefox are both known to 
                work well. Internet Explorer 9 and older probably won't work at all. This application will work on a tablet computer (eg. iPad)
                - indeed it was designed for one - though it will be unuseable on a phone (the screen is just too small). </p>
            </div>
        </div>
    </div>