<div class="well">
    <form role="form" class="">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="search_box" autofocus>
            <p class="help-block">{{help}}</p>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="search()">Search</button>
            <p class="help-block"></p>
        </div>
    </form>
    <div ng-show="suggestion">
        <p>Did you mean <em><a href="" ng-click="setSuggestion(suggestion)">{{suggestion}}</a></em>?</p>
    </div>
    <div ng-show="controls">
        <h5>Filter Search Results</h5>
        <span ng-repeat="facet in facet_controls">
            <facet-widget facet-field="{{facet}}" deployment="{{deployment}}" site="{{site}}" loglevel="{{loglevel}}"></facet-widget>
        </span>
    </div>
</div>