<span ng-hide="ao">
    <a href="" ng-click="ic = !ic">
        <span ng-show="ic">{{label}}<span class="caret"></span></span>
        <span ng-show="!ic" class="dropup">{{label}}<span class="caret"></span></span>
    </a>
</span>
<div ng-hide="ic" class="facet">
    <span ng-repeat="f in facets">
        <span ng-if="f.count">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="facet(f.label)" ng-checked="{{f.checked}}">{{f.label}}
                </label>
            </div>
        </span>
    </span>
</div>
