<span ng-hide="ao">
    <a href="" ng-click="ic = !ic">
        <span ng-show="ic">{{label}}<span class="caret"></span></span>
        <span ng-show="!ic" class="dropup">{{label}}<span class="caret"></span></span>
    </a>
</span>
<div ng-hide="ic" class="facet">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <span ng-repeat="f in facets">
                <span ng-if="f.count">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-click="facet(f.label)" ng-checked="f.checked">{{f.label}}
                        </label>
                    </div>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="" aria-label="Reset" ng-click="clearAll()">clear all</a>
        </div>
    </div>
    <hr/>
</div>
