<small>
    <a href="" ng-click="isCollapsed = !isCollapsed" ng-hide="isCollapsed">by DATE&nbsp;<span class="glyphicon glyphicon-chevron-down"></a>
    <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="isCollapsed">Hide DATE filter&nbsp;<span class="glyphicon glyphicon-chevron-up"></a>
</small>
<div collapse="!isCollapsed">
    <span ng-repeat="result in facets">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-click="facet(result.start)" ng-checked="{{result.checked}}">{{result.label}}
            </label>
        </div>
    </span>
</div>
