<div class="row">
    <br/>
    <div class="col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <span ng-if="isImage">
            <a href="" ng-click="view()">
                <img src="{{data.thumbnail}}" class="img-responsive img-thumbnail" />
            </a>
        </span>
        <span ng-if="!isImage">
            <a href="{{data.fullsize}}" target="_blank">
                <img src="{{data.thumbnail}}" class="img-responsive img-thumbnail" />
            </a>
        </span>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <a href="{{data.source_link}}">{{data.source}}</a><br/>
                <small>{{data.rights}}</small><br/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span ng-if="isImage">
                    <small ng-if="isImage">Click image for preview.</small>
                </span>
                <span ng-if="!isImage">
                    <span class="glyphicon glyphicon-new-window"></span>
                    <small>Image links to external site. Click to open in new window.</small>
                </span>
            </div>
        </div>
    </div>
</div>
