<span ng-switch on="data.pub_type">

    <!-- render a Newspaper Article -->
    <span ng-switch-when="Newspaper Article">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">In</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.in | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Journal Article -->
    <span ng-switch-when="Journal Article">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">In</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.in | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render an Article -->
    <span ng-switch-when="Article">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">In</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.in | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Book -->
    <span ng-switch-when="Book">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Report -->
    <span ng-switch-when="Report">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Review -->
    <span ng-switch-when="Review">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Statute -->
    <span ng-switch-when="Statute">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Type of Work</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.typeofwork | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render an Ordinance -->
    <span ng-switch-when="Ordinance">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Type of Work</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.typeofwork | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>
    
    <!-- render a Book Section -->
    <span ng-switch-when="Book Section">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">In</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.in | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Conference Paper -->
    <span ng-switch-when="Conference Paper">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">In</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.in | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render an Edited Book-->
    <span ng-switch-when="Edited Book">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Editors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render an Conference Proceedings -->
    <span ng-switch-when="Conference Proceedings">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Editors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render an Ordinance -->
    <span ng-switch-when="Ordinance">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Type of Work</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.typeofwork | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>
    <!-- render a Journal-->
    <span ng-switch-when="Journal">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Editors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Resource-->
    <span ng-switch-when="Resource">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Type of Work</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.typeofwork | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Resource Section -->
    <span ng-switch-when="Resource Section">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">In</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.in | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>

    <!-- render a Thesis -->
    <span ng-switch-when="Thesis">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Authors</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.author | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Type of Work</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.typeofwork | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">Imprint</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{data.imprint | valueOrDash}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <strong class="pull-right">URL</strong>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="{{data.url}}">{{data.url | valueOrDash}}</a>
            </div>
        </div>
    </span>
</span>

