<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        {{data.sequenceNo + 1}}.&nbsp;
        <span class="glyphicon glyphicon-picture"></span> {{data.type}}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="title-styling" style="font-size: 18px;">
            <a href="{{data.reference}}">{{data.name}}
                <span ng-if="data.binomial_name">,</span>
            </a>
        </span>
        <span ng-if="data.binomial_name">{{data.binomial_name}}</span>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span ng-if="data.altname">
            <strong>Also known as:</strong> {{data.altname.join('; ')}}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 text-center">
        <a href="{{data.reference}}" target="">
            <img src="{{data.thumbnail}}" class="img-responsive img-thumbnail" />
        </a>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-sm-3"><strong>Date</strong></div>
                <div class="col-sm-9">{{data.date | valueOrDash}}</div>
            </div>
            <div class="row">
                <div class="col-sm-3"><strong>Creator</strong></div>
                <div class="col-sm-9">{{data.creator | valueOrDash}}</div>
            </div>
            <div class="row">
                <div class="col-sm-3"><strong>Control</strong></div>
                <div class="col-sm-9">{{data.control | valueOrDash}}</div>
            </div>
            <div class="row">
                <div class="col-sm-3"><strong>Source</strong></div>
                <div class="col-sm-9">{{data.source | valueOrDash}}</div>
            </div>
    </div>
</div>
