<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div ng-repeat="author in data.author">{{author}},</div>
        <span ng-if="data.entity_type !== 'Book'">
            <em ng-if="data.journal">{{data.journal}},</em> {{data.date_from | date:'yyyy'}}, {{data.volume}}:{{data.pages}}
            <br/><br/>
        </span>
        <span ng-if="data.phys_description">
            <strong>Physical Description:</strong>&nbsp;{{data.phys_description}}</br/>
        </span>
        <span ng-if="data.subject_topic">
            <strong>Subject - Topic:</strong>
            <span ng-repeat="topic in data.subject_topic">{{topic}}, </span>
        </span>
        <br/>
        <span ng-if="data.subject_temporal">
            <strong>Subject - Temporal:</strong>
            <span ng-repeat="temporal in data.subject_temporal">{{temporal}}, </span>
        </span>
    </div>
</div>

