<div class="row" style='padding-left: 1em;'>
    <small>
        <a href="" ng-click="toggle = !toggle" ng-hide="toggle">by {{facetField | uppercase}}&nbsp;<span class="glyphicon glyphicon-chevron-down"></a>
        <a href="" ng-click="toggle = !toggle" ng-show="toggle">Hide this filter&nbsp;<span class="glyphicon glyphicon-chevron-up"></a>
    </small>
    <div ng-show="toggle">
        <span ng-repeat="result in facets">
            <div class="col-sm-8">
                <a href="" ng-click="add_facet(result[0])">{{result[0]}} ({{result[1]}})</a>
            </div>
            <div class="col-sm-4" ng-show="result[2]">
                <a href="" ng-click="remove_facet(result[0])">(remove)</a>
            </div>
        </span>
    </div>
</div>
