<small>
    <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="isCollapsed">by {{label| uppercase}}&nbsp;<span class="glyphicon glyphicon-chevron-down"></a>
    <a href="" ng-click="isCollapsed = !isCollapsed" ng-hide="isCollapsed">Hide {{label | uppercase}} filter&nbsp;<span class="glyphicon glyphicon-chevron-up"></a>
</small>
<div collapse="isCollapsed">
    <span ng-repeat="result in facets">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-click="facet(result[0])" ng-checked="{{result[2]}}">{{result[0]}}&nbsp;<span ng-show="{{result[1]}}"><small>({{result[1]}})</small></span>
            </label>
        </div>
    </span>
    <span ng-if='moreResults'>
        <button type="button" class="btn btn-sm btn-default" ng-click="show_all()">-- show all --</button>
    </span>
</div>
