<div ng-style="underlay" ng-if="!smallList" ng-click="close()"></div>

<span ng-hide="ao">
    <a href="" ng-click="ic = !ic">
        <span ng-show="ic">{{label}}<span class="caret"></span></span>
        <span ng-show="!ic" class="dropup">{{label}} <span class="caret"></span></span>
    </a>
</span>
<div ng-hide="ic && !ao" class="facet">
    <!-- render the small list -->
    <div ng-show="smallList">
        <span ng-repeat="result in smallFacetList">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="facet(result.name)" ng-checked="result.checked">{{result.name}}&nbsp;
                    <span ng-show="{{result.count}}"><em>({{result.count}})</em></span>
                </label>
            </div>
        </span>

        <div>
            <a href="" ng-click="showMore()">show more</a>
            &nbsp;&dash;&nbsp;
            <a href="" aria-label="Reset" ng-click="clearAll()">clear all</a>
        </div>
        <hr/>
    </div>

    <!-- render the large list -->
    <div ng-if="!smallList" class="facet-largeList" ng-style="overlay">
        <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
                <h5>{{label}}</h5>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <button type="button" class="close btn-sm" aria-label="Close" ng-click="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="set in largeFacetList">
                <span ng-repeat="result in set">
                    <span ng-if="result.name">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="facet(result.name)" ng-checked="result.checked">{{result.name}}&nbsp;
                                <span ng-show="{{result.count}}"><em>({{result.count}})</em></span>
                            </label>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div class="row">
            <hr/>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <a href="" aria-label="Close" ng-click="close()">close</a>
                &nbsp;&dash;&nbsp;
                <a href="" aria-label="Reset" ng-click="clearAll()">clear all</a>
            </div>
        </div>
    </div>
</div>
