<div class="row" ng-repeat="set in docs" style="margin: 15px;">
    <div class="row">
        <span ng-repeat="doc in set">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <a href="" ng-click="view(doc)">
                        <img src="{{doc.thumbnail}}" class="img-thumbnail img-responsive">
                    </a>
                    <div class="caption">
                        <p class="text-center">{{doc.name}}</p>
                        <a href="" class="pull-right" ng-click="showDetails = !showDetails">Details <span class="caret"></span></a>
                        <br/>
                        <span ng-show="showDetails">
                            <hr/>
                            <div class="row">
                                <div class="col-sm-4"><strong>Date</strong></div>
                                <div class="col-sm-8">{{doc.date | valueOrDash}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Creator</strong></div>
                                <div class="col-sm-8">{{doc.creator | valueOrDash}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Control</strong></div>
                                <div class="col-sm-8">{{doc.control | valueOrDash}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Source</strong></div>
                                <div class="col-sm-8">{{doc.source | valueOrDash}}</div>
                            </div>
                            <span ng-if="!doc.isImage">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <br/>
                                        <span class="glyphicon glyphicon-new-window"></span>
                                        <small>Image links to external site.</small>
                                    </div>
                                </div>
                            </span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small>
                                        <a href='https://data.esrc.info/solr/ESRC/select?q=id:"{{doc.id}}"&mlt=off&spellcheck=off&wt=json&json.wrf=JSON_CALLBACK' target="_blank">View SOLR source</a>
                                    </small>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </span>
        <hr/>
    </div>
</div>
