<div class="row" ng-repeat="set in docs" style="margin: 15px;">
    <div class="row">
        <span ng-repeat="doc in set">
            <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="" style="background-color: transparent; border-color: transparent;">
                    <a href="" ng-click="view(doc)">
                        <img src="{{doc.thumbnail}}" class="img-responsive" style="border: 1px solid white; padding: 3px; margin: auto;">
                    </a>
                    <div class="caption" style="color: white;">
                        <p class="text-center">{{doc.name}}</p>
                        <br/>
                        <span ng-if="!doc.isImage">
                            <br/>
                            <span class="glyphicon glyphicon-new-window"></span>
                            <small>Image links to external site.</small>
                        </span>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>
