<div style="position: fixed; top: 0px; left: 0px; height: {{h}}px; width: {{w}}px; z-index: -1000;">
    <div class="row" style="background-color: #003268; height: 30px;"></div>
    <div class="row" style="background-color: #efefea; height: 80px;"></div>
    <div class="row" style="background-color: #3d4343; height: 75px;"></div>
    <div class="row" style="background-color: #efefea; height: {{h - 185}}px;"></div>
</div>
<span ng-controller="ImageViewCtrl">
    <div class="row" style="height: {{image_pane_height}}px; width: 100%;">
        <span ng-if="showLoadingIndicator">
                <div class="progress" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-width: 60%; max-height: 20px; width: auto; height: auto;">
                  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
        </span>
            
        <span ng-show="showImage">
            <img class="img-responsive img-thumbnail"
                 src="{{data.fullsize}}"
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-width: 100%; max-height: 100%; width: auto; height: auto;"
                 />
        </span>
    </div>

    <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; z-index: -1000; background-color: #282829;"></div>

    <!-- cog to show details pane when hidden -->
    <div style="position: absolute; left: 0px; top: {{height - 40}}px; z-index: 2000;" ng-show="!showDetails">
        <span class="glyphicon glyphicon-cog" ng-click="showDetails = !showDetails" style="margin: 15px; color: white;"></span>
    </div>

    <!-- details pane and backing opaque white panel -->
    <div style="position: absolute; left: 0px; top: {{height - 100}}px; height: 100px; width: 100%; z-index: 1000; opacity: 0.9; background-color: white;" ng-show="showDetails"></div>
    <div style="position: absolute; left: 0px; top: {{height - 100}}px; height: 100px; width: 100%; z-index: 2000;" ng-show="showDetails">
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1" style="margin: 15px;">
                <span class="glyphicon glyphicon-remove" ng-click="showDetails = !showDetails"></span>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <ul class="pager"><li class="previous" ng-click="back()"><a href="">&larr; Back to search results</a></li></ul>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h4><a href="{{data.id}}">{{data.name}}</a></h4>
                <h4><a href="{{data.site_url}}">{{data.site_name}}</a></h4>
            </div>
        </div>
    </div>
</span>
