<div class="row" id="top">
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="row" class="animate-repeat">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <search-form 
                        help='e.g. Name of Home, orphanage, organisation or suburb'
                        deployment="testing"
                        site="TEST"
                        >
                    </search-form>
                </div>
            </div>
            <div class="row" class="animate-repeat">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <search-filters
                        filter="type,function,site_code:::site,state_long:::state"
                        >
                    </search-filters>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="row">
                <search-results></search-results>
            </div>
        </div>
</div>
