<div style="position: fixed; top: 0px; width: 100%; z-index: 10000;">
    <div class="row" style="background-color: black;">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <a href="http://www.msd.unimelb.edu.au/" >
                <img src="https://web.esrc.unimelb.edu.au/UMABt/msd2014/images/header-white.png" style="width: auto; height: auto; max-width: 95%;">
            </a>
        </div>
    </div>

    <!-- header controls -->
    <div class="row" style="margin-top: 10px; margin-right: 15px;">
        <div class="col-md-3 col-lg-3">
        </div>
        <div class="col-sm-6 col-md-5 col-lg-5">
                <search-form 
                    help='Normally this would be site / context specific help in this bit...'
                    search-type="keyword"
                    >
                </search-form>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
           <sort-results></sort-results> 
        </div>
    </div>
</div>

<!-- side bar: fixed to left -->
<div style="position:absolute; top: {{t}}px; left: 0px; width: {{lpw}}px; height: {{h - t}}px; overflow-y: scroll; padding: 5px 15px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4 style="font-size: 18px; font-weight: normal; margin: 10px 0px; padding: 0; text-shadow: 1px -1px 2px #595959; line-height: 1.1;">
                Refine Search
            </h4>
        </div>
        <div class="col-sm-12 text-center">
            <div class="btn-group">
                <button class="btn btn-sm btn-default" ng-click="clearAllFilters()">Clear all</button>
                <button class="btn btn-sm btn-default" ng-click="openAllFilters()">Open all</button>
                <button class="btn btn-sm btn-default" ng-click="closeAllFilters()">Close all</button>
            </div>
        </div>
        <!-- DATE FACETING -->
        <div class="col-sm-12">
            <hr style="border-color: #003268;" />
            <date-facet-widget facet-field="exist_from" existence-from-field='exist_from' existence-to-field='exist_to' 
                id="1" label="Date" start="2000" end="2014" interval="1"></date-facet-widget>
        </div>
        <div class="col-sm-12">
            <facet-widget facet-field="tag" label="Building Phase and Location" join="AND"></facet-widget>
        </div>
        <div class="col-sm-12">
            <facet-widget facet-field="type" label="Entity Type"></facet-widget>
        </div>
        <div class="col-sm-12">
            <facet-widget facet-field="function" label="Entity Category" join="AND"></facet-widget>
        </div>
        <div class="col-sm-12">
            <span ng-if="!returnToSiteLink"><facet-widget facet-field="site_name" label="Data Source"></facet-widget></span>
        </div>
        <div class="col-sm-12">
            <facet-widget facet-field="repository" label="Repository"></facet-widget>
        </div>
    </div>
</div>
<!-- side bar: fixed to right -->
<div style="position:absolute; top: {{t}}px; left: {{lpw}}px; width: {{rpw}}px; height: {{h - t}}px; overflow-y: scroll; padding: 0px 15px;">
    <div class="row">
        <div class="col-sm-12">
            <search-results display-provenance="true"></search-results>
        </div>
    </div>
</div>
