<span ng-controller="MainCtrl">
    <!-- background white div between the scrolling results pane and the header controls -->
    <div style="position: fixed; top: 0px; left 0px; height: {{t}}px; width: 100%; background-color: white;"></div>
    
    <!-- header controls -->
    <div style="position: fixed; top: 0px; left 0px; height: {{t}}px; width: 100%; z-index:10000; ">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <br/>
                <label ng-if="site_name">Using: {{site_name}} (reload the page to select another site)</label>
            </div>
        </div>
        <div class="row" style="border-bottom: solid; border-width: 1px; border-color: gray;">
            <div class="col-sm-3 col-md-3 col-lg-3">
               <sort-results></sort-results> 
            </div>
            <div class="col-sm-6 col-md-7 col-lg-7">
                    <search-form 
                        help='Normally this would be site / context specific help in this bit...'
                        deployment="testing"
                        site="{{site}}",
                        search-type="keyword"
                        >
                    </search-form>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <span ng-hide="detailsActive">
                    <button class="btn btn-default btn-sm" ng-click="toggleDetails()">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Summary View
                    </button>
                </span>
                <span ng-show="detailsActive">
                    <button class="btn btn-default btn-sm" ng-click="toggleDetails()">
                        <span class="glyphicon glyphicon-th"></span>
                        Show Details 
                    </button>
                </span>
            </div>
        </div>
    </div>

    <!-- side bar: fixed to right -->
    <div style="position:absolute; top: {{t}}px; left: 0px; width: {{lpw}}px; height: {{h - t}}px; overflow-y: scroll; padding: 0px 15px; ">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="help-block text-center">(Search not working? Try <a href='/basic-search'>basic search</a>.)</a></p>
                <date-range-graph></date-range-graph><br/>
                <hr/>
                <strong>Refine Search</strong><br/>
                <date-facet-widget></date-facet-widget><br/>
                <facet-widget facet-field="type" label="Entity Type"></facet-widget><br/>
                <facet-widget facet-field="function" label="Entity Function" join="AND"></facet-widget><br/>
                <!-- <facet-widget facet-field="state_long" label="Region"></facet-widget><br/> -->
                <span ng-if="!site_name"><facet-widget facet-field="site_name" label="Data Source"></facet-widget><br/></span>
                <facet-widget facet-field="repository" label="Repository"></facet-widget><br/>
            </div>
        </div>
    </div>
    <div style="position:absolute; top: {{t}}px; left: {{lpw}}px; width: {{rpw}}px; height: {{h - t}}px; overflow-y: scroll; padding: 0px 15px;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <search-results display-provenance="true"></search-results>
            </div>
        </div>
   </div>
</span>
