<div>
    <small>
        <span class="pull-right">
            <a href="" ng-click="toggle = !toggle" ng-hide="toggle">Related content <span class="glyphicon glyphicon-chevron-down"></span></a>
            <a href="" ng-click="toggle = !toggle" ng-show="toggle">Hide <span class="glyphicon glyphicon-chevron-up"></span></a>
        </span>
        <blockquote ng-show="toggle">
            <ul>
                <li ng-repeat="doc in data.docs">
                    <a href="{{doc.id}}">{{doc.name[0]}}</a><br/>
                    {{doc.id}}
                </li>
            </ul>
        </blockquote>
    </small>
</div>