<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h4 class="section-heading">Alter search type:</h4>
        <hr style="margin: 5px 0px 10px 0px;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4">
        <label class="radio-inline">
            <input type="radio" ng-checked="searchType.keywordSearch" ng-click="setSearchType('keyword')" />
            Keyword search
        </label>
        <span ng-if="searchType.keywordSearch">
            &nbsp;&dash;&nbsp;
            <label class="radio-inline">
                <input type="radio" ng-checked='keywordAnd' ng-click="setSearchUnion('AND')" />AND
            </label>
            <label class="radio-inline">
                <input type="radio" ng-checked='keywordOr' ng-click="setSearchUnion('OR')" />OR
            </label>
        </span>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8">
        Select whether a keyword or phrase search is to be performed. If keyword is selected, multiple search terms can be joined
        with a logical 'AND' or a logical 'OR'.
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="radio-inline">
            <input type="radio" ng-checked="searchType.phraseSearch" ng-click="setSearchType('phrase')" />
            Phrase search
        </label>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h4 class="section-heading">Limit search to:</h4>
        <hr style="margin: 5px 0px 10px 0px;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <a href="" ng-click="selectAll()" ng-if="selectAllToggle">select all</a>
        <span ng-if="selectAllToggle && selectNoneToggle"><br/></span>
        <a href="" ng-click="deselectAll()" ng-if="selectNoneToggle">select none</a>
    </div>
</div>
<div class="row">
    <span ng-repeat="(k, v) in searchFields">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="checkbox">
                <label>
                  <input type="checkbox" ng-click="updateSearchLimit(v.fieldName)" ng-checked="v.checked"> {{v.displayName}}
                </label>
            </div>
        </div>
    </span>
</div>