<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
        <h4>This isn't going to work...</h4>
        <hr/>

        <p>Unfortunately, in the process of developing this application we've had to make
        some decisions about which types of devices and browser versions we could reasonably
        support.
        </p>
        <p>If you're reading this then it means that either your device is too small for this application
        (it wouldn't work very well) or your browser is too old.
        If the issue is your browser, then may we suggest you take a look at 
        <a href="http://browsehappy.com/?locale=en">Browse Happy</a> to find out which browsers
        are available and perhaps, get a newer version of the one you're using.</p>
        
        <p>Alternately, you might like
        to try another browser in which case we can recommend both Google Chrome and Mozilla Firefox as 
        suitable for this application.</p>
        
    </div>
</div>