
<!-- the clickable, cover the background panel -->
<div ng-if="showImage" class="background-overlay" ng-click="close()"></div>

<!-- the actual content container -->
<div ng-if="showImage" class="view-one" 
    style="position: fixed; left: 5%; top: 2%; height: 90%; width: 90%; z-index: 20; background-color: #aec6cf; box-shadow: 5px 5px 4px #888888;">

    <!-- the image container -->
    <div style="position: relative; top: 2%; left: 0; height: 80%; width: 100%">
        <a href="{{imageData.id}}">
            <img class="img-thumbnail"
                 src="{{imageData.fullsize}}"
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-width: 100%; max-height: 100%; width: auto; height: auto;"
                 />
        </a>
    </div>

    <!-- the image details container -->
    <div style="position: relative; top: 3%; left: 0; height: 15%; width: 100%;" >
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 text-center">
                <h4 class="section-heading">{{imageData.name}}</h4>

                <span ng-if="imageData.creator">
                    <small>by</small> {{imageData.creator}}
                </span>
                <span ng-if="imageData.date">
                    ({{imageData.date}})
                </span>
            </div>
        </div>
        <div class="row" ng-if="imageData.rights">
            <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 text-center">
                {{imageData.rights}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 text-center">
                <a href="{{imageData.id}}" target="_blank">view resource (opens in a new window)</a>
                &nbsp;&dash;&nbsp;
                <a href="" ng-click="close()">close</a>
            </div>
        </div>
     </div>
</div>
